# Local phone testing:
# EXPO_PUBLIC_API_URL=http://YOUR_LAPTOP_IP:8000/api
#
# Ngrok testing:
# EXPO_PUBLIC_API_URL=https://YOUR_NGROK_DOMAIN.ngrok-free.app/api
EXPO_PUBLIC_API_URL=http://YOUR_LAPTOP_IP:8000/api

EXPO_PUBLIC_GOOGLE_CLIENT_ID=YOUR_GOOGLE_WEB_CLIENT_ID.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=YOUR_GOOGLE_WEB_CLIENT_ID.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=YOUR_GOOGLE_ANDROID_CLIENT_ID.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_USE_PROXY=false
EXPO_PUBLIC_EXPO_PROJECT_FULL_NAME=@YOUR_EXPO_USERNAME/IntakeSync
